ultralytics==8.2.0
easyocr==1.7.1
python-bidi==0.4.2
opencv-python-headless
numpy
pillow
torch==2.2.2+cpu
torchvision==0.17.2+cpu
uvicorn[standard]

--extra-index-url https://download.pytorch.org/whl/cpu